{{define "content"}}
<hgroup>
    <h2>Logs & Monitoring</h2>
    <h3>Grafana Dashboard</h3>
</hgroup>
<article style="padding: 0; overflow: hidden; height: 80vh;" id="grafana-container">
    <script>
        const hostname = window.location.hostname;
        const iframe = document.createElement('iframe');
        iframe.src = `http://${hostname}:3000/?kiosk`;
        iframe.width = "100%";
        iframe.height = "100%";
        iframe.frameBorder = "0";
        document.getElementById('grafana-container').appendChild(iframe);
    </script>
</article>
{{end}}
